@import "../../../data/styles.css";

.footer {
	display: flex;
	flex-wrap: wrap; /* Allow items to wrap to the next line */
	padding-top: 25px;
	margin-top: 50px;
	padding-bottom: 25px;
	align-items: center;
	justify-content: space-between; /* Space between items */
	padding-left: 300px;
}

.footer-links,
.footer-credits {
	flex-basis: 50%;
}

.footer-links {
	margin-left: -40px;
}

.footer-nav-link-list {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	padding: 0; /* Remove default padding */
	margin: 0; /* Remove default margin */
}

.footer-nav-link-item {
	font-weight: bold;
	font-size: 80%;
	padding: 0 10px; /* Add padding for spacing */
}

.footer-nav-link-list a {
	text-decoration: none;
	color: var(--secondary-color);
}

.footer-nav-link-list a:hover {
	color: var(--link-color);
}

.footer-credits-text {
	flex-basis: 50%; /* Ensure it takes half the width */
	display: flex;
	justify-content: flex-end;
	color: var(--tertiary-color);
	font-size: 14px;
	text-align: right;
	padding: 0 10px; /* Add padding for spacing */
}

@media (max-width: 800px) {
	.footer {
		flex-direction: column; /* Stack items vertically on smaller screens */
		align-items: center; /* Center align the items */
		padding-left: 0; /* Remove left padding */
	}

	.footer-links,
	.footer-credits {
		flex-basis: 100%; /* Full width */
		text-align: center; /* Center align text */
		margin: 10px 0; /* Add margin for spacing */
	}

	.footer-nav-link-list {
		flex-direction: column; /* Stack list items vertically */
		align-items: center;
		width: 100%; /* Full width */
	}

	.footer-nav-link-item {
		margin: 5px 0; /* Space between items */
	}

	.footer-credits-text {
		justify-content: center; /* Center align text */
		width: 100%; /* Full width */
		text-align: center; /* Center align text */
	}
}
